<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar: The last airbender</title>
</head>
<body>
    <div id="app">
      <p v-if="characterList.length === 0">There are no character</p>
      <ul v-else>
        <li v-for="character in characterList">
            <p>
                {{ character.name }}
            </p>
            <button @click="favoriteCharacter(character)">⭐ Favorite</button>
        </li>
      </ul>
      <h2>Favorite Characters</h2>
      <ul v-if="favoriteList.length > 0">
        <li v-for="character in favoriteList">
            {{ character }}
        </li>
      </ul>
      <p v-else>No favorite character</p>
      <h2>New Character</h2>
      <pre>{{ newCharacter }}</pre>
      <label for="character-name">Name</label>
      <input type="text" v-model="newCharacter.name" @keyup.enter="addNewCharacter">
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
       Vue.createApp({
            data: ()=> ({
                newCharacter: {
                    name: ''
                },
                characterList: [
                    {
                        name: 'Aang',
                    },

                    {
                        name: 'zuko',
                    },

                    {
                        name: 'toph',
                    },

                    {
                        name: 'katara',
                    }

                ],
                favoriteList: []
            }),
            methods: {
                favoriteCharacter(character) {
                    this.favoriteList.push(character)
                },
                addNewCharacter() {
                    this.characterList.push(this.newCharacter)
                    this.newCharacter = { name: '' }
                }
            }
        }).mount('#app')
    </script>
</body>
</html>
