<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground - Complete Intro to Vue 3</title>
</head>
<body>
    <h1>Hello Frontend Masters!</h1>
    <div id="app">
        <h1>{{ displayTitle }}</h1>
        <p :data-inecrement-by="increamentAmount">{{ count }}</p>
        <button @click="increamentCount(10, $event)">Increment Count</button>
        <h1> {{ increamentAmount }}</h1>
        <p>{{ optimizedIncrementAmount }}</p>
        <label for="increamentAmount">Increment by:</label>
        <input type="number" v-model="increamentAmount">
        <hr>

        <!-- v-if directive -->
        <p v-if="message.length % 2 === 0">
            Even: {{ message }}
        </p>
        <p v-else>
            Odd: {{ message.toUpperCase() }}
        </p>
        <!-- show list render -->
        <ul>
            <li v-for="number in listOfNumbers"> {{ number * Math.random() }}</li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue //just like Vue.createApp
        
        const app = createApp({
            data() {
                return {
                    count: 10,
                    counterTitle:'Counter Standard',
                    increamentAmount: 8,
                    message: 'Hello it works!',
                    listOfNumbers: [1, 2, 3, 4, 5]
                }
            },
            computed: {
                displayTitle() {
                    return this.count > 20 ? 'Counter Standard - Very Long' : 'Counter Standard'
                },
                optimizedIncrementAmount() {
                    return this.displayTitle.length * this.increamentAmount
                },
            },
            methods: {
                increamentCount(newAmount, event) {
                    // this.$data.count
                    console.log(newAmount)
                    console.log(event)
                    this.count += this.optimizedIncrementAmount
                }
            },
            // watch old value and watch a new value
            watch: {
                count(newValue) {
                    if(newValue > 20) {
                        this.counterTitle += 'Very Long'
                    }
                    console.log(newValue)
                }
            }
        })

        app.mount('#app')
    </script>
</body>
</html>
